$fontBronovaBold: "bronovabold";
$fontBronovaRegular: "bronovaregular";
$fontManjari: "Manjari", sans-serif;

$color__primary: #1fbad6;
$color__primary--opacity: #1fbbd6a1;
$color__secondary: #000734;
$white: #fff;
